h1 {
    color: rgb(34, 54, 170);
    font-size: 200%;
  }
  
  p {
    font-family:'Times New Roman', Times, serif;
    text-indent: 20px;
    margin-left: 10px;
  }
  
  
  
  
  #content {
      background-color: #3bb188;
      width: 800px;
      min-height: 300px;
      padding: 10px;
      margin: 10px;
      border: solid 1px #dbfb07;
      font-size: 30px;
    }
  
  body {
    background-color: rgb(183, 188, 93);
  }
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #3bb188;
    background-color: rgba(159, 255, 81, 0.52);
  }

  #output {
    columns: 4;
  }