/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  h1 {
    color: rgb(34, 54, 170);
    font-size: 200%;
  }
  
  p {
    font-family:'Times New Roman', Times, serif;
    text-indent: 20px;
    margin-left: 10px;
  }
  
  
  
  
  #content {
      background-color: #3bb188;
      width: 1000px;
      min-height: 1000px;
      padding: 10px;
      margin: 10px;
      border: solid 1px #dbfb07;
      font-size: 20px;
    }
  
  body {
    background-color: rgb(183, 188, 93);
  }

  #results {
    width: 800px;
    height: 810px;
  }